mixin head()
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Sartakov | test
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    meta(name="HandheldFriendly", content="true")
    link(rel="icon" type="image/x-icon" href="static/favicons/favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
    link(href="static/css/main.css" rel="stylesheet")
    script(src='static/js/main.js')
